.top-box{
    background-color:white;
    margin-bottom: 1.5rem;
    /* height: 12rem; */
    padding:1rem;
    width:55rem;
    
}
.content-box{
    height:6rem;
    margin-top: 1rem;
    padding: 1rem;
    
}
.bottom-box{
    width:55rem;
    background-color: #fff;
   
    
}