.main-component{
   
    display: flex;
    
    justify-content: center;
    align-items: center;
   
   
}
.component{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.side-bar{
    background-color: white;
    width: 10%;
    padding:2rem;
  
}


.logo{
    width: 30%;
}
.side-bar-icon{
    margin:0px 20px;
    font-size: 1rem;
}

.side-container{
    width:90%;
  
    background:#F9FAFD;
    box-shadow: 1px 5px 10px rgb(218, 211, 211);
}
.second-nav-bar{
    background-color: black;
    color:#fff;
    height: 3rem;
}
.nav-btn{
    border:3px dotted black;
    padding: .3rem 2rem;
    border-radius: 2rem;
}
.navigation-box{
    background-color: white;
    /* background-color: brown; */
    box-shadow: 1px 1px 15px rgb(228, 223, 223);
    height: 5rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    
}
.navigateicon-box{
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    /* background-color: red; */
    width:250px;
}
.nav-icon{
    color:black;
    font-size: 1.7rem;
    margin: 0rem 1rem;
    /* margin-top: 25px !important; */
}
.navicon-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right:1px solid black;
    
    
  
}
.navigat-logo-box{
   cursor: pointer;
   width:40%;
   margin:0rem .5rem;
    border-radius: 50%;
    /* padding: 12px 10px; */
    border:none;
}
.dashboard-children{
 
    width: 100%;
    height: fit-content;
    padding: 2rem 3rem;
    display: flex;
    flex-direction:row;
}
.sidebar-icon-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon-box2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 17rem;
}


@media screen and (max-width: 992px){
   
    .side-bar{
        background-color: white;
        text-align: center;
        z-index: 4;
        width: 5%;
       
       
        padding:25px 25px 20px 15px;
         position: fixed;
        left:0;
    }
   
    .sidebar-icon-box{
        /* background-color: red; */
        margin-top: 30px;
        padding: 5px;
    }
    .side-logo-box{
        text-align: start;
       
    }
    .logo-side{
        width:100%;
        margin-top:10px;
        display: block;
    }
    .logo-side-box{
        /* background-color: red; */
        /* height: 50px; */
        margin-right:-15px;
    }
    .side-bar-icon{
        display: none;
        
    }
   
    
    .side-container{
        width:100%;
        background:#F9FAFD;
        /* background-color: orange; */
        height: 1270px !important;
    }
    .navigation-box{
        background-color: white;
      
        box-shadow: 1px 1px 15px rgb(228, 223, 223);
        justify-content: center;
        z-index: 3;
        overflow: hidden;
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        display: flex;
        position: fixed;
        top:0;
    }
    .painter-icon{
        display: flex;
        font-size: 30px;
        margin-top: 0px !important;
    }
    .painter-box{
        padding:15px 5px;
        width:10%;
        text-align: end;
        /* background-color: red; */
        margin-left: 170px !important;
        float: none;
    }
    .logo{
        width: 100%;
        display: none;
    }
    .navigat-logo-box{
        display: none;
       
    }
    
}